server/
world/
logs/
crash-reports/
*.jar
*.log
.vscode/
.local-cloud/
tmpl*/
__pycache__/
*.pyc
.serverless-mc/
build/
.gradle/
.staging_world/
.profiles/
relay_data/
cloud_relay.json

# Allow gradle-wrapper.jar
!gradle-wrapper.jar
